@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");

:root{
  --primary_color:black;
  --secondary_color:red;
}

.secondary_text{
  color: var(--secondary_color);
}

.secondary_button{
  color: white !important;
  background-color: var(--secondary_color);
}

