@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");

:root{
  --primary_color:black;
  --secondary_color:red;
  --secondary_opacity_color:rgba(255, 0, 0, 0.562);
}

.secondary_text{
  color: var(--secondary_color) !important;
}


.secondary_button{
  color: white !important;
  background-color: var(--secondary_color);
  min-width: 200px;

}

.primary_button{
  color: white !important;
  background-color: var(--primary_color);
  min-width: 200px;
}

.secondary_background{
  background-color: var(--secondary_color);
}

.secondary_opacity_bg{
  background-color: var(--secondary_opacity_color);
}

.instock_items{
  width: 200px !important;
}

a{
  text-decoration: none;
  color: white;
}

